
  * {
      box-sizing: border-box;
    }

	html {
		scroll-behavior: smooth; /*плавная прокрутка при переходе по сылкам в документе*/
	}

	.wrapper {
		width: 1440px;
		margin: 0 auto;
		overflow: hidden;
	}

  .header {
    border: 2px solid rgb(3, 39, 59);
	  background-color: rgb(3, 39, 59);
  	}
	nav > ul > li > a {
		color: aliceblue;
	}

	li>a{
		color: black;
	}

	.footer {
		border: 2px solid rgb(3, 39, 59);
		background-color: rgb(3, 39, 59);
	}

  body {
    font-family: 'Joan', serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .nav-list {
    list-style: none;
  }
  
  .nav-link {
    padding: 0 20px;
    line-height: 50px;
  }

  .absolute-position{
    position: absolute;
    top: 100px;
    left: 500px;
  }
  main{
    background-color: rgb(214, 235, 247);
  }

