
  * {
      box-sizing: border-box;
    }
  .header {
    border: 2px solid rgb(110, 194, 243);
	background-color:lightslategray;
  }
	nav > ul > li > a {
		color: aliceblue;
	}

	li>a{
		color: black;
	}

  .footer {
    border: 2px solid rgb(110, 194, 243);
  }

  body {
    font-family: 'Joan', serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .nav-list {
    list-style: none;
  }
  
  .nav-link {
    padding: 0 20px;
    line-height: 50px;
  }
